@if(form()){
<form
  [formGroup]="form()!"
  class="p-2 flex flex-col gap-2 overflow-y-auto"
  autocomplete="off"
  (ngSubmit)="onSave()"
>
  <div class="flex gap-2 flex-wrap-reverse">
    <label class="input input-ghost flex items-center gap-2 grow">
      <mat-icon>edit</mat-icon>
      <input
        class="grow"
        formControlName="Name"
        name="svd_pwd__name"
        placeholder="Insert name here"
      />
    </label>
    <div class="flex gap-2 grow md:grow-0">
      @if(!isNew()){
      <button
        type="button"
        class="btn grow md:btn-square md:grow-0 btn-error"
        [disabled]="form()?.disabled"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        type="button"
        class="btn grow md:btn-square md:grow-0 btn-primary"
        (click)="init(id())"
        [disabled]="form()?.disabled"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      }
      <button
        type="submit"
        class="btn grow md:btn-square md:grow-0 btn-success"
        [disabled]="form()?.disabled"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex flex-wrap gap-2">
    <label class="input input-bordered basis-72 flex-1 flex items-center gap-2">
      <mat-icon>person</mat-icon>
      <input
        type="text"
        class="grow"
        placeholder="Login"
        formControlName="Login"
        name="svd_pwd__login"
        autocomplete="false"
      />
    </label>
    <label class="input input-bordered basis-72 flex-1 flex items-center gap-2">
      <mat-icon>person_add</mat-icon>
      <input
        type="text"
        class="grow"
        placeholder="SecondLogin"
        formControlName="SecondLogin"
        name="svd_pwd__extra_login"
        autocomplete="off"
      />
    </label>
    <label class="input input-bordered basis-80 flex-1 flex items-center gap-2">
      <mat-icon>key</mat-icon>
      <input
        type="password"
        class="grow"
        placeholder="Password"
        formControlName="Password"
        name="svd_pwd__pwd"
        autocomplete="off"
      />
    </label>
  </div>
  <div class="flex flex-wrap gap-2">
    <label class="input input-bordered basis-72 flex-1 flex items-center gap-2">
      <mat-icon>link</mat-icon>
      <input
        class="grow"
        placeholder="Link"
        formControlName="Url"
        name="svd_pwd__url"
        autocomplete="off"
      />
    </label>
  </div>
  <div class="divider">Extras</div>
  <div class="flex flex-wrap gap-2">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Notes</span>
      </div>
      <textarea
        name="svd_pwd__notes"
        formControlName="Notes"
        class="textarea textarea-bordered h-24 w-full"
        placeholder="Insert here some notes"
      ></textarea>
    </label>
  </div>
  <form
    class="flex flex-wrap gap-2"
    (submit)="$event.preventDefault(); onAddTag(tag.value); tag.value = ''"
  >
    <label class="input input-bordered basis-72 flex-1 flex items-center gap-2">
      <mat-icon>sell</mat-icon>
      <input
        type="text"
        placeholder="Insert a tag"
        class="grow"
        #tag
        [disabled]="form()?.disabled"
      />
    </label>
  </form>
  <div class="flex flex-wrap gap-2">
    @for (tag of (form()?.get('Tags')?.value ?? []); track tag) {
    <span class="badge badge-info items-center">
      <mat-icon
        class="cursor-pointer content-center h-3 w-3 text-[.75rem]"
        (click)="onRemoveTag(tag)"
      >
        close
      </mat-icon>
      {{ tag }}
    </span>
    }
  </div>
</form>
}
