<div class="main-container" cdkTrapFocus cdkTrapFocus>
  <div class="actions-container xs-hidden">
    <button
      class="btn btn-crust btn-small"
      [disabled]="form()?.disabled"
      routerLink="/passwords"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="right-actions">
      <button
        class="btn btn-crust btn-small"
        (click)="init(id())"
        [ngStyle]="{ display: isNew() ? 'none' : '' }"
        [disabled]="form()?.disabled"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        class="btn btn-error btn-small"
        [disabled]="form()?.disabled"
        [matMenuTriggerFor]="confirmDeleteMenu"
        [ngStyle]="{ display: isNew() ? 'none' : '' }"
        #confirmDeleteMenuTrigger="matMenuTrigger"
      >
        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
      </button>
      <button
        class="btn btn-primary btn-small"
        [disabled]="form()?.disabled"
        [matMenuTriggerFor]="confirmSaveMenu"
        #confirmSaveMenuTrigger="matMenuTrigger"
      >
        <mat-icon fontSet="material-icons-outlined">save</mat-icon>
      </button>
    </div>
  </div>
  @if(form()){
  <form [formGroup]="form()!" class="form-container" autocomplete="off">
    <button type="submit" style="display: none"></button>
    <h4 style="margin: 0">Main info</h4>
    <div class="input-group">
      <label class="input" style="flex-grow: 1">
        <mat-icon>edit</mat-icon>
        <input
          class="grow"
          formControlName="Name"
          name="svd_pwd__name"
          placeholder="Insert name here"
          id="firstInput"
        />
      </label>
    </div>
    <div class="input-group">
      <label class="input">
        <mat-icon>person</mat-icon>
        <input
          type="text"
          class="grow"
          placeholder="Login"
          formControlName="Login"
          name="svd_pwd__login"
          autocomplete="false"
        />
        <app-copy-clipboard-icon [copyValue]="form()!.get('Login')!.value" />
      </label>
      <label class="input">
        <mat-icon>person_add</mat-icon>
        <input
          type="text"
          class="grow"
          placeholder="SecondLogin"
          formControlName="SecondLogin"
          name="svd_pwd__extra_login"
          autocomplete="off"
        />
        <app-copy-clipboard-icon
          [copyValue]="form()!.get('SecondLogin')!.value ?? ''"
        />
      </label>
      <label
        class="input"
        appCtrlQListener
        (ctrlQPressed)="
          passwordInput.type =
            passwordInput.type == 'password' ? 'text' : 'password'
        "
      >
        <mat-icon>key</mat-icon>
        <input
          #passwordInput
          type="password"
          class="grow"
          placeholder="Password"
          formControlName="Password"
          name="svd_pwd__pwd"
          autocomplete="off"
        />
        <div style="display: flex; align-items: center; gap: 0.25rem">
          <mat-icon class="cursor-pointer" (click)="generatePassword()"
            >refresh</mat-icon
          >
          <app-copy-clipboard-icon
            [copyValue]="form()?.get('Password')?.value ?? ''"
          />
          <mat-icon
            #viewIcon
            class="cursor-pointer"
            (click)="
              passwordInput.type =
                passwordInput.type == 'password' ? 'text' : 'password'
            "
          >
            {{
              passwordInput.type == "password" ? "visibility" : "visibility_off"
            }}
          </mat-icon>
        </div>
      </label>
    </div>
    <div class="input-group">
      <label
        class="input input-bordered basis-72 flex-1 flex items-center gap-2"
      >
        <mat-icon>link</mat-icon>
        <input
          class="grow"
          placeholder="Link"
          formControlName="Url"
          name="svd_pwd__url"
          autocomplete="off"
        />
      </label>
    </div>
    <h4 style="margin: 0">Extras</h4>
    <div class="input-group">
      <label class="textarea">
        <mat-icon>description</mat-icon>
        <textarea
          name="svd_pwd__notes"
          formControlName="Notes"
          class="textarea textarea-bordered h-24 w-full"
          placeholder="Insert here some notes"
        ></textarea>
      </label>
    </div>
    <form
      class="tags-input-group"
      (submit)="$event.preventDefault(); onAddTag(tagInput); tagInput = ''"
    >
      <label class="input">
        <mat-icon>sell</mat-icon>
        <input
          name="tag_input"
          type="text"
          placeholder="Insert a tag"
          class="grow"
          [(ngModel)]="tagInput"
          [disabled]="form()?.disabled ?? false"
        />
        <kbd class="kbd kbd-sm cursor-pointer" (click)="onAddTag(tagInput)"
          >&#8626;</kbd
        >
      </label>
      <div class="tags-container">
        @for (tag of (form()?.get('Tags')?.value ?? []); track tag) {
        <span class="badge">
          <mat-icon class="cursor-pointer" (click)="onRemoveTag(tag)">
            close
          </mat-icon>
          {{ tag }}
        </span>
        }
      </div>
    </form>
  </form>
  }
  <div class="actions-container sm-hidden" style="padding-bottom: 0.25rem">
    <button
      class="btn btn-crust"
      [disabled]="form()?.disabled"
      routerLink="/passwords"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="right-actions">
      <button
        class="btn btn-crust"
        [ngStyle]="{ display: isNew() ? 'none' : '' }"
        (click)="init(id())"
        [disabled]="form()?.disabled"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        class="btn btn-error"
        [disabled]="form()?.disabled"
        [ngStyle]="{ display: isNew() ? 'none' : '' }"
        [matMenuTriggerFor]="confirmDeleteMenu"
        #confirmDeleteMenuTrigger="matMenuTrigger"
      >
        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
      </button>
      <button
        class="btn btn-primary"
        [disabled]="form()?.disabled"
        [matMenuTriggerFor]="confirmSaveMenu"
        #confirmSaveMenuTrigger="matMenuTrigger"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #confirmSaveMenu>
  <div style="padding: 0.5rem">
    <h5 style="margin-top: 0">Do you want to save?</h5>
    <div style="display: flex; gap: 0.5rem">
      <button
        class="btn btn-error"
        style="flex: 1 0 0%"
        (click)="confirmSaveMenuTrigger.closeMenu()"
      >
        Cancel
      </button>
      <button class="btn btn-primary" style="flex: 1 0 0%" (click)="onSave()">
        Confirm
      </button>
    </div>
  </div>
</mat-menu>

<mat-menu #confirmDeleteMenu>
  <div style="padding: 0.5rem">
    <h5 style="margin-top: 0">Do you want to delete the password?</h5>
    <div style="display: flex; gap: 0.5rem">
      <button
        class="btn btn-error"
        style="flex: 1 0 0%"
        (click)="confirmDeleteMenuTrigger.closeMenu()"
      >
        Cancel
      </button>
      <button class="btn btn-primary" style="flex: 1 0 0%" (click)="onDelete()">
        Confirm
      </button>
    </div>
  </div>
</mat-menu>
