<div class="main-container" cdkTrapFocus cdkTrapFocus>
  <div class="actions-container xs-hidden">
    <app-confirm-button
      buttonColor="crust"
      buttonSize="sm"
      [disabled]="form()?.disabled"
      [menuEnabled]="!!this.form()?.dirty"
      (confirm)="onBack()"
      message="Discard changes?">
      <lucide-angular [img]="ChevronLeftIcon" />
    </app-confirm-button>
    <div class="right-actions">
      <app-confirm-button
        buttonColor="crust"
        buttonSize="sm"
        [buttonStyle]="{ display: isNew() ? 'none' : '' }"
        [disabled]="form()?.disabled"
        [menuEnabled]="!!this.form()?.dirty"
        (confirm)="onRefresh()"
        message="Discard changes?">
        <lucide-angular [img]="RefreshCCwIcon" />
      </app-confirm-button>
      <app-confirm-button
        buttonColor="error"
        buttonSize="sm"
        [buttonStyle]="{ display: isNew() ? 'none' : '' }"
        [disabled]="form()?.disabled"
        (confirm)="onDelete()"
        message="Do you want to delete the password?">
        <lucide-angular [img]="Trash2Icon" />
      </app-confirm-button>
      <app-confirm-button
        buttonColor="primary"
        buttonSize="sm"
        [disabled]="form()?.disabled"
        (confirm)="!!form()?.dirty ? onSave() : {}"
        [menuEnabled]="!!form()?.dirty"
        message="Do you want to save?">
        <lucide-angular [img]="SaveIcon" />
      </app-confirm-button>
    </div>
  </div>
  @if (form()) {
    <form [formGroup]="form()!" class="form-container" autocomplete="off">
      <button type="submit" style="display: none"></button>
      <h4 style="margin: 0">Main info</h4>
      <div class="input-group">
        <label class="input" style="flex-grow: 1">
          <lucide-angular [img]="PencilIcon" />
          <input
            class="grow"
            formControlName="NotAName"
            placeholder="Insert name here"
            id="firstInput"
            autocomplete="off" />
        </label>
      </div>
      <div class="input-group">
        <label class="input">
          <lucide-angular [img]="UserIcon" />
          <input
            type="text"
            class="grow"
            placeholder="Login"
            formControlName="fu1"
            autocomplete="off" />
          <app-copy-clipboard-icon [copyValue]="form()!.get('fu1')!.value" />
        </label>
        <label class="input">
          <lucide-angular [img]="UserPlusIcon" />
          <input
            type="text"
            class="grow"
            placeholder="SecondLogin"
            formControlName="SecondLogin"
            autocomplete="off" />
          <app-copy-clipboard-icon
            [copyValue]="form()!.get('SecondLogin')!.value ?? ''" />
        </label>
        <label
          class="input"
          appCtrlQListener
          (ctrlQPressed)="
            passwordInput.type =
              passwordInput.type == 'password' ? 'text' : 'password'
          ">
          <lucide-angular [img]="LockKeyHoleIcon" />
          <input
            #passwordInput
            type="password"
            class="grow"
            placeholder="Password"
            formControlName="fu2"
            autocomplete="off" />
          <div style="display: flex; align-items: center; gap: 0.25rem">
            <lucide-angular
              [img]="RotateCwIcon"
              class="cursor-pointer"
              (click)="generatePassword()" />
            <app-copy-clipboard-icon
              [copyValue]="form()?.get('fu2')?.value ?? ''" />
            <lucide-angular
              [img]="passwordInput.type == 'password' ? EyeIcon : EyeOffIcon"
              class="cursor-pointer"
              (click)="
                passwordInput.type =
                  passwordInput.type == 'password' ? 'text' : 'password'
              " />
          </div>
        </label>
      </div>
      <div class="input-group">
        <label
          class="input input-bordered basis-72 flex-1 flex items-center gap-2">
          <lucide-angular [img]="LinkIcon" />
          <input
            class="grow"
            placeholder="Link"
            formControlName="Url"
            autocomplete="off" />
        </label>
      </div>
      <h4 style="margin: 0">Extras</h4>
      <div class="input-group">
        <label class="textarea">
          <lucide-angular [img]="ScrollTextIcon" />
          <textarea
            formControlName="Notes"
            class="textarea textarea-bordered h-24 w-full"
            placeholder="Insert here some notes"></textarea>
        </label>
      </div>
      <form
        class="tags-input-group"
        (submit)="$event.preventDefault(); onAddTag(tagInput); tagInput = ''">
        <label class="input">
          <lucide-angular [img]="TagIcon" />
          <input
            name="tag_input"
            type="text"
            placeholder="Insert a tag"
            class="grow"
            [(ngModel)]="tagInput"
            [disabled]="form()?.disabled ?? false"
            autocomplete="off" />
          <kbd class="kbd kbd-sm cursor-pointer" (click)="onAddTag(tagInput)"
            >&#8626;</kbd
          >
        </label>
        <div class="tags-container">
          @for (tag of form()?.get('Tags')?.value ?? []; track tag) {
            <span class="badge">
              <lucide-angular
                [img]="TrashIcon"
                class="cursor-pointer"
                (click)="onRemoveTag(tag)" />
              {{ tag }}
            </span>
          }
        </div>
      </form>
    </form>
  } @else {
    <div class="loading-container">
      <img src="/besos-gif.gif" />
    </div>
  }
  <div class="actions-container sm-hidden" style="padding-bottom: 0.25rem">
    <app-confirm-button
      buttonColor="crust"
      [disabled]="form()?.disabled"
      [menuEnabled]="!!this.form()?.dirty"
      (confirm)="onBack()"
      message="Discard changes?">
      <lucide-angular [img]="ChevronLeftIcon" />
    </app-confirm-button>
    <div class="right-actions">
      <app-confirm-button
        buttonColor="crust"
        [buttonStyle]="{ display: isNew() ? 'none' : '' }"
        [disabled]="form()?.disabled"
        [menuEnabled]="!!this.form()?.dirty"
        (confirm)="onRefresh()"
        message="Discard changes?">
        <lucide-angular [img]="RefreshCCwIcon" />
      </app-confirm-button>
      <app-confirm-button
        buttonColor="error"
        [buttonStyle]="{ display: isNew() ? 'none' : '' }"
        [disabled]="form()?.disabled"
        (confirm)="onDelete()"
        message="Do you want to delete the password?">
        <lucide-angular [img]="Trash2Icon" />
      </app-confirm-button>
      <app-confirm-button
        buttonColor="primary"
        [disabled]="form()?.disabled"
        (confirm)="!!form()?.dirty ? onSave() : {}"
        [menuEnabled]="!!form()?.dirty"
        message="Do you want to save?">
        <lucide-angular [img]="SaveIcon" />
      </app-confirm-button>
    </div>
  </div>
</div>
