<div class="h-full flex">
  <!-- Sidebar -->
  <div
    class="fixed top-0 z-40 w-80 h-full bg-base-300 md:block md:translate-x-0 md:static transition-transform duration-300 ease-in-out transform"
    [class.-translate-x-full]="!isDrawerOpen() && isMobileView()"
    [class.translate-x-0]="isDrawerOpen()"
  >
    <ng-content select="[drawerContent]"></ng-content>
  </div>
  @if (isDrawerOpen() && isMobileView()) {
  <div
    class="fixed inset-0 bg-black bg-opacity-50 z-30"
    (click)="toggleDrawer()"
  ></div>
  }

  <!-- Main Content -->
  <div class="flex-1">
    <ng-content select="[mainContent]"></ng-content>
  </div>
</div>
