<div
  style="
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  ">
  <h1 style="display: flex; align-items: center; gap: 0.5rem; margin: 0">
    <lucide-angular [img]="ShieldIcon" class="big" />
    <div>
      <div>Dots PM</div>
    </div>
  </h1>
  <button dotsButton dotsColor="primary" routerLink="/saved-passwords/new">
    <lucide-angular [img]="PlusIcon" />
    <span style="margin-left: 0.5rem">Create a new password</span>
  </button>
  <small>Your passwords will be encrypted and secure</small>
</div>
