<div
  style="
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div
    class="card card-mantle"
    style="display: flex; align-items: center; gap: 0.5rem"
  >
    <h3 style="text-align: center">
      Select a password or add a new one by clicking here:
    </h3>
    <button
      dotsButton
      dotsColor="primary"
      dotsSize="sm"
      routerLink="/saved-passwords/new"
    >
      <lucide-angular [img]="PlusIcon" />
    </button>
  </div>
</div>
