.container {
  height: 100%;
  position: relative;
}

.messages-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 18rem;
  max-width: 18rem;
  z-index: 1001;
  pointer-events: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.5rem;
}
