ASPNETCORE_ENVIRONMENT=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXP_MINUTES=
JWT_REFRESH_TOKEN_EXP_DAYS=
CORS_ALLOWED_ORIGINS=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
FROM_ADDRESS=
JWT_SECRET=
CRYPTO_BASE_64_KEY=
DATABASE_PROTOCOL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_SSLMODE=