<main
  class="container"
  appCtrlKListener
  (ctrlKPressed)="sideClosed.set(false); searchInput.focus()"
>
  <div
    class="side_backdrop"
    [ngClass]="{ closed: sideClosed() }"
    (click)="sideClosed.set(true)"
  ></div>
  <aside class="side" [ngClass]="{ closed: sideClosed() }">
    <div class="side_container">
      <div
        style="
          display: flex;
          gap: 0.5rem;
          align-items: center;
          padding-top: 0.5rem;
        "
      >
        <div style="width: 40px; height: 40px; display: inline; flex-shrink: 0">
          <app-logo></app-logo>
        </div>
        <div>
          <h3 style="margin: 0; line-height: 1.25rem; text-wrap: nowrap">
            Dots Password
          </h3>
          <h3 style="margin: 0; line-height: 1.25rem">Manager</h3>
        </div>
      </div>
      <label class="input" style="margin-top: 0.75rem; margin-bottom: 1rem">
        <lucide-angular [img]="SearchIcon" />
        <input
          #searchInput
          type="text"
          placeholder="Search"
          [formControl]="searchCtrl"
        />
        <div class="search-actions">
          <kbd class="kbd kbd-sm">⌘</kbd>
          <kbd class="kbd kbd-sm">K</kbd>
          <lucide-angular
            [img]="CircleXIcon"
            class="cursor-pointer"
            (click)="searchCtrl.reset()"
          />
        </div>
      </label>
      <div class="side_content">
        @if(favourites().length > 0){
        <h4 class="side_subtitle">Favourites</h4>
        } @for(pwd of favourites(); track pwd.PasswordId){
        <button
          class="btn side_link"
          [routerLink]="['/saved-passwords', pwd.PasswordId]"
          routerLinkActive="active"
        >
          <span>
            {{ pwd.Name }}
          </span>

          <span
            class="favourite"
            [ngClass]="{ 'is-favourite': pwd.IsFavourite }"
            (click)="$event.stopPropagation(); toggleFavourite(pwd)"
          >
            <lucide-angular [img]="StarIcon" />
          </span>
        </button>
        } @if(notFavourites().length > 0){
        <h4 class="side_subtitle">Passwords</h4>
        } @for(pwd of notFavourites(); track pwd.PasswordId){
        <button
          class="btn side_link"
          [routerLink]="['/saved-passwords', pwd.PasswordId]"
          routerLinkActive="active"
        >
          <span>
            {{ pwd.Name }}
          </span>
          <span
            class="favourite"
            [ngClass]="{ 'is-favourite': pwd.IsFavourite }"
            (click)="$event.stopPropagation(); toggleFavourite(pwd)"
          >
            <lucide-angular [img]="StarIcon" />
          </span>
        </button>
        }
      </div>
    </div>
  </aside>
  <section class="card content">
    <div class="main-content">
      <header class="main-content_header">
        <div style="display: flex; align-items: center; gap: 0.5rem">
          <button
            class="btn btn-crust btn-small"
            style=""
            (click)="sideClosed.set(!sideClosed())"
          >
            <lucide-angular [img]="sideClosed() ? PanelLeftOpenIcon : PanelLeftCloseIcon" />
          </button>
          <div class="vertical-separator"></div>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <div style="width: 1.2rem; height: 1.2rem; margin-left: 0.25rem">
              <app-logo></app-logo>
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary btn-small"
          style="margin-left: auto; margin-right: 0.5rem"
          (click)="onEdit(undefined)"
        >
            <lucide-angular [img]="PlusIcon" />
        </button>
        <div>
          <button (click)="toggleTheme()" class="btn btn-crust btn-small">
            <lucide-angular [img]="isDarkMode() ? SunIcon : MoonIcon" />
          </button>
          <button
            style="margin-left: 0.5rem"
            (click)="logout()"
            class="btn btn-crust btn-small"
          >
            <lucide-angular [img]="LogOutIcon" />
          </button>
        </div>
      </header>
      <main class="main-content_content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </section>
</main>
