<app-drawer
  [isClosed]="sideClosed"
  (ctrlKPressed)="sideClosed.set(false); pwdsList.focusSearch()"
  appCtrlKListener
>
  <ng-container side>
    <div class="side_header">
      <div class="logo_container">
        <app-logo></app-logo>
      </div>
      <div>
        <h3 class="side_header_title">Dots Password</h3>
        <h3 class="side_header_title">Manager</h3>
      </div>
    </div>
    <app-passwords-list #pwdsList></app-passwords-list>
  </ng-container>
  <ng-container content>
    <header class="main-content_header">
      <div style="display: flex; align-items: center; gap: 0.5rem">
        <button
          dotsButton
          dotsColor="crust"
          dotsSize="sm"
          (click)="sideClosed.set(!sideClosed())"
        >
          <lucide-angular
            [img]="sideClosed() ? PanelLeftOpenIcon : PanelLeftCloseIcon"
          />
        </button>
        <div class="vertical-separator"></div>
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <div style="width: 1.2rem; height: 1.2rem; margin-left: 0.25rem">
            <app-logo></app-logo>
          </div>
        </div>
      </div>
      <button
        dotsButton
        dotsColor="primary"
        dotsSize="sm"
        style="margin-left: auto; margin-right: 0.5rem"
        (click)="onEdit(undefined)"
      >
        <lucide-angular [img]="PlusIcon" />
      </button>
      <div>
        <button
          (click)="toggleTheme()"
          dotsButton
          dotsColor="crust"
          dotsSize="sm"
        >
          <lucide-angular [img]="isDarkMode() ? SunIcon : MoonIcon" />
        </button>
        <button
          style="margin-left: 0.5rem"
          routerLink="/saved-passwords/settings"
          routerLinkActive="navbar-link-active"
          dotsButton
          dotsColor="crust"
          dotsSize="sm"
        >
          <lucide-angular [img]="SettingsIcon" />
        </button>
        <button
          style="margin-left: 0.5rem"
          (click)="logout()"
          dotsButton
          dotsColor="crust"
          dotsSize="sm"
        >
          <lucide-angular [img]="LogOutIcon" />
        </button>
      </div>
    </header>
    <main class="main-content_content">
      <router-outlet></router-outlet>
    </main>
  </ng-container>
</app-drawer>
