@use "/breakpoints.scss" as bps;

.side_content {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.side_subtitle {
  color: var(--subtext-1);
  font-weight: 600;
  padding-left: 0.25rem;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  background-color: var(--base);
}

.side_link {
  text-transform: capitalize;
  justify-content: flex-start;
  align-items: center;
  &.active {
    background-color: var(--crust);
  }

  .favourite {
    margin-left: auto;
    &:hover {
      color: var(--yellow);
    }
    &.is-favourite {
      color: var(--yellow);
      &:hover {
        color: var(--yellow);
      }
    }
  }
}


.main-content_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--surface-0);
  padding: 1rem;
}

.main-content_content {
  overflow-y: auto;
  padding: 1rem;
}

.search-actions {
  display: flex;

  > lucide-angular {
    margin-left: .25rem;
  }

  > .kbd {
    @include bps.xs-breakpoint {
      display: none;
    }
  }
}

.vertical-separator {
  height: 1rem;
  width: 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border: 1px solid var(--surface-2);
}
