<app-passwords-body>
  <app-drawer #drawer appCtrlKListener (ctrlKPressed)="onQuickSearch()">
    <aside drawerContent class="h-full overflow-y-auto relative">
      <div
        class="p-2 pt-8 text-xl font-semibold border-b border-primary bg-base-200 z-10 sticky top-0 bottom-0 w-full"
      >
        <label class="input input-bordered flex items-center gap-2">
          <input type="text" class="grow" placeholder="Search" />
          @if(!drawer.isMobileView()){
          <kbd class="kbd kbd-sm">⌘</kbd>
          <kbd class="kbd kbd-sm">K</kbd>
          }
        </label>
      </div>
      <ul class="p-2 pt-8 space-y-2 w-full menu flex-nowrap absolute top-16">
        <li><a>Menu Item 1</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
        <li><a>Menu Item 2</a></li>
        <li><a>Menu Item 3</a></li>
      </ul>
    </aside>
    <main mainContent>
      <!-- Header -->
      <div class="p-2 flex gap-2">
        <button
          (click)="drawer.toggleDrawer()"
          class="btn btn-secondary md:hidden"
        >
          <mat-icon>menu_open</mat-icon>
        </button>
        <button
          class="btn btn-outline btn-neutral flex items-center gap-2 flex-1 md:flex-initial md:hidden"
          (click)="onQuickSearch()"
        >
          <mat-icon>search</mat-icon>
          <span class="flex-1 text-start">Quick search...</span>
        </button>
        <button class="btn btn-primary ml-auto">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- Content -->
      <div class="p-4">
        <h1 class="text-2xl font-bold">Main Content</h1>
        <p>
          This is your main content area. Resize the browser to see the
          responsive drawer behavior.
        </p>
      </div>
    </main>
  </app-drawer>
</app-passwords-body>
