<form [formGroup]="form()" (ngSubmit)="onSubmit()" class="form-container">
  <div style="display: flex; justify-content: center">
    <div style="min-width: 60px">
      <app-logo></app-logo>
    </div>
  </div>
  <span style="text-align: center; margin-bottom: 1rem">
    <h2 style="margin-top: 0; margin-bottom: 0">Reset your password</h2>
    <small>Insert the new password!</small>
  </span>
  <label class="input">
    <lucide-angular [img]="LockKeyholeIcon"></lucide-angular>
    <input
      #newPwdInput
      type="password"
      formControlName="NewPassword"
      name="newPassword"
      placeholder="Insert the new password" />
    <lucide-angular
      (click)="
        newPwdInput.type = newPwdInput.type == 'password' ? 'text' : 'password'
      "
      class="cursor-pointer"
      [img]="
        newPwdInput.type == 'password' ? EyeOffIcon : EyeIcon
      "></lucide-angular>
  </label>
  @if(hasError('NewPassword', 'required')){
    <small class="error-text">New password is required</small>
  }
  <label class="input">
    <lucide-angular [img]="LockKeyholeIcon"></lucide-angular>
    <input
      #repeatPwdInput
      type="password"
      formControlName="RepeatPassword"
      name="repeatPassword"
      placeholder="Repeat the new password" />
    <lucide-angular
      (click)="
        repeatPwdInput.type = repeatPwdInput.type == 'password' ? 'text' : 'password'
      "
      class="cursor-pointer"
      [img]="
        repeatPwdInput.type == 'password' ? EyeOffIcon : EyeIcon
      "></lucide-angular>
  </label>
  @if(hasError('RepeatPassword', 'required')){
    <small class="error-text">Repeat password is required</small>
  }
  @if(hasError('RepeatPassword', 'passwordMismatch')){
    <small class="error-text">Repeat password is different from the new password</small>
  }
  <button
    style="margin-top: 1rem"
    [disabled]="form().disabled"
    dotsButton
    [isLoading]="form().isLoading"
    iconPosition="after"
    dotsColor="primary">
    CONFIRM
  </button>
  <span class="return-to-login">
    <a
      [routerLink]="['/auth', 'login']"
      routerLinkActive="router-link-active"
      class="link">
      Return to login
    </a>
  </span>
</form>
