.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label + label {
    margin-top: 0.5rem;
  }
}

.return-to-login {
  margin-left: auto;
  margin-right: auto;
}

small {
  color: var(--subtext-0);
}

.error-text {
  color: var(--red);
}