<label class="input" style="margin-top: 0.75rem; margin-bottom: 1rem">
  <lucide-angular [img]="SearchIcon" />
  <input
    #searchInput
    type="text"
    placeholder="Search"
    [formControl]="searchCtrl"
  />
  <div class="search-actions">
    <kbd class="kbd kbd-sm">⌘</kbd>
    <kbd class="kbd kbd-sm">K</kbd>
    <lucide-angular
      [img]="CircleXIcon"
      class="cursor-pointer"
      (click)="searchCtrl.reset()"
    />
  </div>
</label>
<div class="side_content">
  @if(pwdCache.favourites().length > 0){
  <h4 class="side_subtitle">Favourites</h4>
  } @for(pwd of pwdCache.favourites(); track pwd.PasswordId){
  <button
    class="btn side_link"
    [routerLink]="['/saved-passwords', pwd.PasswordId]"
    routerLinkActive="active"
  >
    <span>
      {{ pwd.Name }}
    </span>

    <span
      class="favourite"
      [ngClass]="{ 'is-favourite': pwd.IsFavourite }"
      (click)="$event.stopPropagation(); pwdCache.toggleFavourite(pwd)"
    >
      <lucide-angular [img]="StarIcon" />
    </span>
  </button>
  } @if(pwdCache.notFavourites().length > 0){
  <h4 class="side_subtitle">Passwords</h4>
  } @for(pwd of pwdCache.notFavourites(); track pwd.PasswordId){
  <button
    class="btn side_link"
    [routerLink]="['/saved-passwords', pwd.PasswordId]"
    routerLinkActive="active"
  >
    <span>
      {{ pwd.Name }}
    </span>
    <span
      class="favourite"
      [ngClass]="{ 'is-favourite': pwd.IsFavourite }"
      (click)="$event.stopPropagation(); pwdCache.toggleFavourite(pwd)"
    >
      <lucide-angular [img]="StarIcon" />
    </span>
  </button>
  }
</div>
