<label class="input" style="margin-top: 1rem; margin-bottom: 1rem">
  <lucide-angular [img]="SearchIcon" />
  <input
    #searchInput
    type="text"
    placeholder="Search"
    [formControl]="searchCtrl"
  />
  <div class="search-actions">
    <kbd class="kbd kbd-sm">⌘</kbd>
    <kbd class="kbd kbd-sm">K</kbd>
    <lucide-angular
      [img]="CircleXIcon"
      class="cursor-pointer"
      (click)="searchCtrl.reset()"
    />
  </div>
</label>
<div class="side_content">
  @if(loading()){ @for(skeleton of skeletons; track skeleton){
  <span class="skeleton"> &zwnj; </span>
  } } @if(!loading() && pwdCache.favourites().length > 0){
  <h4 class="side_subtitle">Favourites</h4>
  } @for(pwd of pwdCache.favourites(); track pwd.PasswordId){
  <app-password-nav-link [password]="pwd"></app-password-nav-link>
  } @if(pwdCache.notFavourites().length > 0){
  <h4 class="side_subtitle">Passwords</h4>
  } @for(pwd of pwdCache.notFavourites(); track pwd.PasswordId){
  <app-password-nav-link [password]="pwd"></app-password-nav-link>
  }
</div>
