<button
  dotsButton
  class="btn side_link"
  [routerLink]="['/saved-passwords', password.PasswordId]"
  routerLinkActive="active"
>
  <span
    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: .5rem;"
    [matTooltip]="password.Name"
  >
    {{ password.Name }}
  </span>

  <span
    class="favourite"
    [ngClass]="{ 'is-favourite': password.IsFavourite }"
    (click)="$event.stopPropagation(); toggleFavourite()"
  >
    <lucide-angular
      [img]="isLoading() ? LoaderCircleIcon : StarIcon"
      [ngClass]="{ spin: isLoading() }"
    />
  </span>
</button>
