@use '/breakpoints' as bps;

.container {
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;

  @include bps.sm-breakpoint {
    &:has(.closed) {
      .content {
        margin-left: 0.5rem;
      }
    }
  }
}

.side {
  @include bps.xs-breakpoint {
    --side-width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    min-width: var(--side-width);
    max-width: var(--side-width);
    height: 100%;
    overflow: hidden;
    z-index: 100;
    background-color: var(--base);

    transition: left 200ms linear;

    &.closed {
      left: calc(var(--side-width) * -1);
    }
  }
  @include bps.sm-breakpoint {
    --side-width: 280px;
    width: var(--side-width);
    width: var(--side-width);
    overflow: hidden;
    transition:
      width 200ms linear,
      left 200ms ease-in-out;

    &.closed {
      width: 0;
      width: 0;
    }
  }
}

.side_backdrop {
  @include bps.sm-breakpoint {
    display: none;
  }
  @include bps.xs-breakpoint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: hsla(0, 0%, 0%, 50%);
    &.closed {
      display: none;
    }
  }
}

.side_container {
  padding: 0.5rem;
  margin-left: 0.5rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.content {
  flex: 1 0 0%;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  padding: 0;
  @include bps.xs-breakpoint {
    margin-left: 0.5rem;
  }
}

.main-content {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
