<main class="container">
  <form
    [formGroup]="form()"
    (ngSubmit)="onSubmit()"
    class="card form-container"
  >
    <span style="text-align: center; margin-bottom: 1rem">
      <h2 style="margin-top: 0; margin-bottom: 0">Hello there</h2>
      <small>Login with your account</small>
    </span>
    <label class="input">
      <mat-icon>person</mat-icon>
      <input
        formControlName="Login"
        name="login"
        placeholder="Your username or email"
      />
    </label>
    <label class="input">
      <mat-icon>key</mat-icon>
      <input
        [type]="passwordVisible() ? 'text' : 'password'"
        formControlName="Password"
        name="password"
        placeholder="Password"
      />
      <mat-icon (click)="togglePwdVisibility()" class="cursor-pointer">
        {{ passwordVisible() ? "visibility_off" : "visibility" }}
      </mat-icon>
    </label>
    <button class="btn btn-primary" style="margin-top: 1rem" [disabled]="form().disabled">
      LOGIN
    </button>
    <span class="no-account">
      Don't have an account?
      <a
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
        class="link"
      >
        Sign up!
      </a>
    </span>
  </form>
</main>
