<main class="h-full content-center p-4">
  <form
    [formGroup]="form()"
    (ngSubmit)="onSubmit()"
    class="mx-auto text-center flex flex-col gap-2 max-w-[22rem]"
  >
    <label class="input input-bordered flex items-center gap-2">
      <mat-icon>person</mat-icon>
      <input
        formControlName="Login"
        name="login"
        class="flex-1"
        placeholder="Your username or email"
      />
    </label>
    <label class="input input-bordered flex items-center gap-2">
      <mat-icon>key</mat-icon>
      <input
        [type]="passwordVisible() ? 'text' : 'password'"
        formControlName="Password"
        name="password"
        class="flex-1"
        placeholder="Password"
      />
      <mat-icon (click)="togglePwdVisibility()" class="cursor-pointer">
        {{ passwordVisible() ? "visibility_off" : "visibility" }}
      </mat-icon>
    </label>
    <a
      [routerLink]="['/register']"
      routerLinkActive="router-link-active"
      class="link link-hover ml-auto"
    >
      Don't have an account?
    </a>
    <button class="btn btn-secondary">LOGIN</button>
  </form>
</main>
