<form [formGroup]="form()" (ngSubmit)="onSubmit()" class="form-container">
  <div style="display: flex; justify-content: center">
    <div style="min-width: 60px">
      <app-logo></app-logo>
    </div>
  </div>
  <span style="text-align: center; margin-bottom: 1rem">
    <h2 style="margin-top: 0; margin-bottom: 0">Forgot Password?</h2>
    <small>Insert your email first!</small>
  </span>
  <label class="input">
    <lucide-angular [img]="MailIcon"></lucide-angular>
    <input
      formControlName="Email"
      name="email"
      placeholder="john.doe@example.com" />
  </label>
  <button
    style="margin-top: 1rem"
    [disabled]="form().disabled"
    dotsButton
    [isLoading]="form().isLoading"
    iconPosition="after"
    dotsColor="primary">
    CONFIRM
  </button>
  <span class="return-to-login">
    <a
      [routerLink]="['/auth', 'login']"
      routerLinkActive="router-link-active"
      class="link">
      Return to login
    </a>
  </span>
</form>
